<p>personal works!</p>
<div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- nombres -->
      <ng-container matColumnDef="nombres">
        <th mat-header-cell *matHeaderCellDef> Nombres. </th>
        <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
      </ng-container>
    
      <!-- apellidos -->
      <ng-container matColumnDef="apellidos">
        <th mat-header-cell *matHeaderCellDef> Apellidos </th>
        <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
      </ng-container>
    
      <!-- DNI -->
      <ng-container matColumnDef="DNI">
        <th mat-header-cell *matHeaderCellDef> DNI </th>
        <td mat-cell *matCellDef="let element"> {{element.DNI}} </td>
      </ng-container>
    
           <!-- Account Description Column -->
      <ng-container matColumnDef="estatus_dot">
        <th mat-header-cell *matHeaderCellDef> ESTATUS </th>
        <!-- <mat-header-cell *matHeaderCellDef> ESTATUS </mat-header-cell> -->
          <mat-cell *matCellDef="let element">
          <mat-form-field >
          <mat-select style="min-width: 200px;" placeholder="" value="{{element.estatus_dot}}" >
             <mat-option disabled *ngFor="let dep of acc_desc " value="{{dep.acc_desc}}" >
                        {{ dep.acc_desc }}
            </mat-option>
          </mat-select>
          </mat-form-field>
        </mat-cell>
      </ng-container>
    
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </div>
     